language: php

services:
    - mysql

php:
    - 7.3
    - 7.4
    - nightly

matrix:
    allow_failures:
        - php: nightly

before_script:
    - travis_retry composer self-update
    - travis_retry composer --dev update

script:
    - vendor/bin/phpunit --coverage-text
    - cat $HOME/database_test.log
    - vendor/bin/phpcs
