language: php

services:
    - mysql

php:
    - 5.6
    - 7.0
    - nightly

matrix:
    allow_failures:
        - php: nightly

before_script:
    - travis_retry composer self-update
    - travis_retry composer --dev update

script:
    - vendor/bin/phpunit --coverage-text
    - vendor/bin/phpcs
