<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         forceCoversAnnotation="true"
         >

        <testsuites>
            <testsuite name="main">
                <directory>test/</directory>
            </testsuite>
        </testsuites>

        <filter>
            <whitelist>
                <directory>src/</directory>
            </whitelist>
        </filter>
</phpunit>
